<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepyduck.pixelate4crafting">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <provider
            android:name=".model.DatabaseProvider"
            android:authorities="com.sleepyduck.pixelate4crafting"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.PatternActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.ChangeParametersActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".configuration.ConfigurationWidthActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAlertDialog" />

        <activity
            android:name=".control.ChooseColorDialog"
            android:label="@string/app_name"
            android:theme="@style/MyAlertDialog.NoDim" />

        <service
            android:name=".service.AddNewPatternService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.CalculateService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>